* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* colors */
  --FEED-BG: #fff;
  --FOOTER-FONT-COLOR:#ADB0B4;
  /* border */
  --HOVER-BORDER: 1px solid #fff;
  --TRANSPARENT-BORDER: 1px solid solid transparent;
}
img {
  display: block;
}
/* LEFT HEADER DIV */
.header-nav-div {
  width: 100%;
  height: 60px;
  background-color: black;
  color: #fff;
  /* padding: 0 20px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* HEADER-LEFTSIDE */
.left-side {
  height: 60px;
  width: 216px;
  display: flex;
  justify-content: space-between;
}
.left-side-logo {
  height: 60px;
  width: 112px;
  background-image: url("../pic/amazon_logo.png");
  background-size: cover;
  border: var(--TRANSPARENT-BORDER);
}
.left-side-logo:hover,
.location:hover {
  border: var(--HOVER-BORDER);
}
.left-side-logo-img {
  height: 60px;
}
.location {
  height: 60px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: var(--TRANSPARENT-BORDER);
}
.location-logo {
  height: 18px;
  width: 15px;
}
.location-name {
  height: 60;
  width: 52px;
}
#delivar {
  font-size: 0.8rem;
  color: #ccc;
}
#country {
  font-size: 1rem;
}
/* middle part of the header */
.middle {
  height: 60px;
  width: 915px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#select {
  height: 40px;
  width: 51px;
  display: flex;
  justify-content: center;
  background-color: #e7e4e4;
  border-radius: 6px 0 0 6px;
  text-align: center;
  border: none;
}
#select:hover {
  background-color: #d1d0d0;
}
.search-bar {
  height: 40px;
  width: 811px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

#search-input {
  height: 30px;
  width: 100%;
  border: none;
  font-size: 1rem;
}
.search-logo {
  height: 40px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb656;
  border-radius: 0 6px 6px 0;
  border: var(--TRANSPARENT-BORDER);
}
.search-logo:hover {
  background-color: #f89d26;
}

/* right part of the header */
.right {
  width: 383px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}
.lang-div {
  width: 72px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--TRANSPARENT-BORDER);
}
.lang-div:hover,
.account-list:hover,
.return:hover,
.cart:hover {
  border: var(--HOVER-BORDER);
}
#language {
  width: 55px;
  height: 32px;
  background-color: black;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
}
.account-list {
  width: 131px;
  height: 50px;
  border: var(--TRANSPARENT-BORDER);
  padding-top: 10px;
}
.right-small-words {
  font-size: 0.8rem;
  color: #ccc;
}
.right-big-words {
  font-size: 1rem;
  font-weight: 700;
}
.return {
  height: 50px;
  width: 76px;
  border: var(--TRANSPARENT-BORDER);
  padding-top: 10px;
}

.cart {
  width: 83px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: var(--TRANSPARENT-BORDER);
  padding-top: 10px;
}
.cart-logo {
  font-size: 1.5rem;
}
.cart-word {
  font-size: 1.3rem;
  font-weight: 700;
}

/* header ko button one */
.nav-main {
  height: 39px;
  background-color: #232f3e;
  color: #fff;
  display: flex;
  align-items: center;
}
.all {
  height: 39px;
  width: 58px;
  border: var(--TRANSPARENT-BORDER);
  display: flex;
  padding-left: 5px;
  justify-content: space-around;
  align-items: center;
}
.all:hover,
.nav-main-middle p:hover,
.nav-main-right:hover {
  border: var(--HOVER-BORDER);
}
.nav-main-middle {
  width: 100%;
  display: flex;

  /* justify-content: center;
  align-items: ; */
}
.nav-main-middle p {
  border: 1px solid solid black;
  padding: 0 10px;
  padding-left: 20px;
  border: var(--TRANSPARENT-BORDER);
}
.nav-main-right {
  height: 28px;
  width: 190px;
  border: var(--TRANSPARENT-BORDER);
  padding: 5px 0;
  margin-right: 5px;
}
.nav-main-right p {
  font-size: 1rem;
  font-weight: bolder;
  color: #fff;
}

/* main content of the website */

.hero-section {
  height: 400px;
  background: url("../pic/hero_image.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 20px;
  padding-bottom: 30px;
}
.hero-section p {
  height: 40px;
  width: 100%;
  background-color: #fff;
  padding: 9px 0;
  font-size: 1.2rem;
  text-align: center;
}

/* feed container */

.feed-container {
  background: #e3e6e6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 20px;

}
.feed {
  height: 440px;
  width: 360px;
  background-color: var(--FEED-BG);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 10px;
}
.feed:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.feed h2 {
  font-size: 1rem;
  font-weight: bolder;
  grid-column: 1/3;
}
.items {
  height: 147px;
  width: 150px;
}
.items img {
  height: 130px;
  width: 150px;
}
.feed-p {
  grid-column: 1/3;
}

/* down then feed and up then footer sing in section */

.login-boundry-div {
  height: 130px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.login-first {
  font-size: 0.8rem;
}
.signin {
  height: 28px;
  width: 230px;
  background-color: #ffc739;
  border-radius: 5px;
  text-align: center;
  padding-top: 4px;
}
.signin > a {
  color: black;
  text-decoration: none;
}
.login-first > a {
  color: blue;
  text-decoration: none;
}

/* footer of the amazon */

.upper-footer-boundry{
  height: 450px;
  display: flex;
  flex-direction: column;
}
.back-top{
  height: 51px;
  background-color: #485769;
  text-align: center;
  padding-top: 18px;
}
.back-top>a{
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
}
.more-information-foot{
  height: 309px;
  background-color: #232F3E;
  display: flex;
  justify-content: center;
  gap:60px;
  padding-top: 30px;
}
.more-information-foot>ul>p{
  color: white;
  font-weight: 700px;
  margin-bottom: 20px;
}
.more-information-foot>ul>a{
  font-size: 0.9rem;
  display: block;
  text-decoration: none;
  color: var(--FOOTER-FONT-COLOR);
  margin-bottom: 5px;
}
.more-information-foot>ul>a:hover{
  text-decoration: underline;
}
.footer-link{
  height: 90px;
  background-color: #232F3E;
  display: flex;
  justify-content: center;
  border-top:1px solid var(--FOOTER-FONT-COLOR);
  align-items: center;
  gap: 50px;
}
.footer-link>a>img{

  height: 68px;
  width: 100px;
}
.footer-link p{
  font-size: 0.9rem;

}
.currency{
  height: 35px;
  width: 475px;

  display: flex;
  align-items: center;
  gap: 10px;
}
.currency-childs{
  height: 25px;
  width: 150px;
  border: 1px solid var(--FOOTER-FONT-COLOR);
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--FOOTER-FONT-COLOR);
}
.lower-foot{
  /* height: 400px; */
  padding: 40px 0;

  background-color: #131A22;
  color: var(--FOOTER-FONT-COLOR);
  display: flex;
  justify-content: center;
}
.lower-table a{
  text-decoration: none;
} 
.lower-table a:hover{
  color: var(--FOOTER-FONT-COLOR);
  text-decoration: underline;
} 

.lower-foot-row{
  margin-bottom: 20px;
}
.row-width{
  height: 30px
}
.width{
  width: 5%;
}
.lower-foot-table-heading{
  font-size: 0.9rem;
  font-weight: 600px;
  color: white;
}
.lower-foot-table-sub-head{
  font-size: 0.8rem;
  color: var(--FOOTER-FONT-COLOR);
}

/* copyrigrt section */
.copyright-boundry{
  /* height: 100px; */
  background-color: #131A22;
  color: var(--FOOTER-FONT-COLOR);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
}
.copyright{
display: flex;
font-size: 0.9REM;
justify-content: center;
align-items: center;
gap: 10px;
}

